// Colors
$white:         #FFFFFF;
$background:    #EFEFEF;
$gray:          #D9D8D8;
$text-gray-bg:  #898989;
$text-white-bg: #6D6B7E;
$accent:        #1180DE;
$news:          #222222;

// Fonts
$main-font:     'Acre';
$main-weight:   300;

// Fonts size
$font-size:         1.2rem;
$font-size-header:  1.4rem;
$font-size-search:  1.6rem;
$font-size-games:   2.0rem;

// Browser font size
$browser-font:          62.50%; // 10/16 = 62.50%
$browser-phone:         43.75%; // 7/16  = 43.75%
$browser-tab-port:      50.00%; // 8/16  = 50.00%
$browser-tab-land:      56.25%; // 9/16  = 56.25%
$browser-big-screen:    75.00%; // 12/16 = 75.00%