/* _-_-_- base/BASE -_-_-_ */
@charset 'utf-8';

html {
  font-family:  $main-font;
  font-weight:  $main-weight;
  font-size:    $browser-font;

  @include respond(tab-land){
    font-size: $browser-tab-land;
  }
  @include respond(tab-port){
    font-size: $browser-tab-port;
  }
  @include respond(phone){
    font-size: $browser-phone;
  }
  @include respond(big-desktop){
    font-size: $browser-big-screen;
  }
}

body{
  font-size:    $font-size;
}

